
/* mayor de 600 */
@media (min-width: 600px) {

body { font-weight: bold; background-color: #CCC; }

ul { margin: 0; padding: 0; 

	 list-style: none; 

	 float: left;

	 width: 500px; /*720 con paddings */

	 background-color: #444; 

	 font-family: 'Roboto Condensed', arial, serif;

	 padding-right: 110px; 

	 padding-left: 110px;

 } 

ul li { float: left; 

		text-align: center;
	} 



ul li a { display: block; 

		width: 100px;
			 
		height: :40px;		 	
	   
	    line-height: 40px; /* 2.1em; */ 

	    text-decoration: none; 

	    color: white; font-weight: bold; 	    	         

	  } 

ul li a:hover {
 		 background-color: #888; 
	  }

}/* fin de @media*/


/* menor de 600 */
@media (max-width: 600px) {

	body { font-weight: bold; background-color: #CCC; }

    ul { margin: 0; padding: 0; 

	 list-style: none; 

	 font-family: 'Roboto Condensed', arial, serif;

	 text-align: center;
	 
 	} 

 	ul li {text-align: center;
	} 

 	ul li a { display: block; 

		/*width: 600px;*/
			 
		height: :40px;		 	
	   
	    line-height: 40px; /* 2.1em; */ 

	    text-decoration: none; 

	    color: white; font-weight: bold; 

	    background-color: #444; 	    	         

	  } 
 	
 	ul a:hover {
 		 background-color: #888; 
	  }
 	

}/* fin de @media*/
