
body
{
	background-color: black;
	margin-top: 0em;
}

#pagina
{
	width: 1000px;	
	background-color: black;	
	margin-left: auto;
	margin-right: auto;	
	padding: 0em 1em 0em 1em;
	font-family: Verdana;
	box-shadow: 0px 0px 40px rgba(255,255,255,0.5);
}
	
header
{
	background-color: green;
}



nav
{
	display: flex;	
	justify-content: flex-start;
	margin-top: 160px;
}

.link_menu
{
	background-color: rgba(79,77,79,0.8); 
	text-decoration: none;
	padding: 0.5em 2em 0.5em 2em;	
	font-weight: bold;
	margin: 0em 0.25em 0.25em 0em;
	font-size: small;
	color: white; 	
}

.link_menu:hover
{
	background-color: rgba(79,77,79,1); 
}

#cuerpo
{	
	display: flex;	
}

aside
{	
	width: 200px;
	background-color: #600001;
	padding: 0em 1em 1em 1em;
}


section
{
	background-color: #004101;
	padding: 0em 1em 1em 1em;		
}

article
{
	height: auto;	
}





